<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test thread-count="3" name="Test">
        <classes>
            <class name="com.qapitol.test.MainTest"/>
        </classes>
    </test>
</suite>